In [16]:
import PublicDataReader as pdr
import pandas as pd
print(pdr.__version__)

serviceKey = 'Arjt7EQRVOdUPjLvpxVjFg9RvfEbWJb%2Bd5qNQ1h%2B9Q6nF37OgOVZNqGNZy4pW8XiYeBmrSeq%2BYUOi1N%2Bn2kgYg%3D%3D'

molit = pdr.Transaction(serviceKey)

>>> PublicDataReader Version : 2021.1.9

- Author : Wooil Jeong
- E-mail : wooil@kakao.com
- Github : https://github.com/WooilJeong/PublicDataReader
- Blog : https://wooiljeong.github.io

>>> 아파트매매 실거래자료 조회 서비스키 미등록 오류입니다.
>>> 아파트매매 실거래 상세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 분양권전매 신고 자료 조회 서비스가 정상 작동합니다.
>>> 오피스텔 매매 신고 조회 서비스가 정상 작동합니다.
>>> 오피스텔 전월세 신고 조회 서비스가 정상 작동합니다.
>>> 연립다세대 매매 실거래자료 조회 서비스가 정상 작동합니다.
>>> 연립다세대 전월세 실거래자료 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 매매 실거래 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 토지 매매 신고 조회 서비스가 정상 작동합니다.
>>> 상업업무용 부동산 매매 신고 자료 조회 서비스가 정상 작동합니다.

In [2]:
def get_district_code(bdongName):
    district_name = bdongName
    codeResult = molit.CodeFinder(district_name)
    district_code = codeResult.iloc[0,1]
    return district_code

In [3]:
gu_name = ['강남구','강동구','강서구','강북구','관악구','광진구','구로구','금천구',
          '노원구','동대문구','도봉구','동작구','마포구','서대문구','성동구','성북구',
          '서초구','송파구','영등포구','용산구','양천구','은평구','종로구','중구','중랑구']

many = len(gu_name)

In [15]:
# 구 별로 dataframe 만들기
district_code = get_district_code(gu_name[0])
print(district_code)
gu_data = molit.DataCollector(molit.AptRent, district_code, 201001, 201101)
display(gu_data)
'''
for i in range(many):
    
    district_code = get_district_code(gu_name[i])
    gu_data = molit.DataCollector(molit.AptRent, district_code, 200601, 202012)
    
    file_name = gu_name[i]
    gu_data.to_csv(f'../seoul_estate_rent_data/{file_name}_rent.csv')
'''

11680
>>> LAWD_CD : 11680 DEAL_YMD : 201001
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201002
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201003
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201004
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201005
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201006
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201007
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201008
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201009
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201010
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201011
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201012
조회할 자료가 없습니다.
>>> LAWD_CD : 11680 DEAL_YMD : 201101

       지역코드  법정동        거래일          아파트      지번    전용면적   층  건축년도   보증금액 월세금액
0     11680  개포동 2011-01-03     개포주공 5단지     187   74.25   4  1983  33000    0
1     11680  개포동 2011-01-03   성원대치2단지아파트      12   39.53   2  1992  17000    0
2     11680  개포동 2011-01-03   개포자이(12-2)    12-2  134.30  16  2004  63000    0
3     11680  개포동 2011-01-03     개포주공 1단지     141   49.56   4  1982   9000    0
4     11680  개포동 2011-01-03     개포주공 1단지     141   50.38   5  1982  10000    0
...     ...  ...        ...          ...     ...     ...  ..   ...    ...  ...
1626  11680  청담동 2011-01-29      대우유로카운티    50-5  121.48   9  2004  40000  100
1627  11680  청담동 2011-01-31  청담4차 이-편한세상   28-20   84.57   9  2011  42000    0
1628  11680  청담동 2011-01-31      청담삼익아파트  134-15  106.44   2  1980  31000    0
1629  11680  청담동 2011-01-31      청담삼익아파트  134-15  109.49   4  1980  30000    0
1630  11680  청담동 2011-01-31   현대빌라(43-1)    43-1  145.05   6  1992  40000    0

[1631 rows x 10 columns]

"\nfor i in range(many):\n    \n    district_code = get_district_code(gu_name[i])\n    gu_data = molit.DataCollector(molit.AptRent, district_code, 200601, 202012)\n    \n    file_name = gu_name[i]\n    gu_data.to_csv(f'../seoul_estate_rent_data/{file_name}_rent.csv')\n"

In [15]:
df = molit.AptTrade(11305, 200601)

display(df)

조회할 자료가 없습니다.

Empty DataFrame
Columns: [지역코드, 법정동, 거래일, 아파트, 지번, 전용면적, 층, 건축년도, 거래금액]
Index: []